.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row > * {
  border: 1px solid white;
}

.col-sm-1 {
  padding: 5px;
  background-color: navy;
}

.col-sm-3 {
  padding: 5px;
  background-color: purple;
}

.col-sm-4 {
  padding: 5px;
  background-color: darkcyan;
}

.col-sm-6 {
  padding: 5px;
  background-color: yellowgreen;
}

.col-sm-8 {
  padding: 5px;
  background-color: salmon;
}

.col-sm-12 {
  padding: 5px;
  background-color: green;
}
